@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
$bg-color: #333;
$text-color: #c99;

.app {
    font-family: 'Comfortaa', cursive;
    color: $text-color;
    background-color: $bg-color;
}